# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Base de datos
*.db
*.db-shm
*.db-wal

# Archivos de Electron
dist/
build/
out/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env
.env.local

# Logs
logs/
*.log
